body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f9fdfa;
}

header {
  background: #e6f2e9; 
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 18px;
  color: #3a7d44; 
  user-select: none;
}

.logo img {
  width: 80px;       
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  nav ul {                 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;             
    padding: 20px 0;
  }

  nav ul li a {            
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

.bemvindo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
  background: #e6f2e9; 
  background-size: cover;
  background-position: center;
  
}

.bemvindo h1{
  color: #3a7d44; 
  font-size: 40px;
  margin-bottom: 16px;
}

.bemvindo p{
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.botoes a {
  display: inline-block;
  background: #1a4e22;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.botoes a:hover {
  background: #43914d;
}

.saibam, .artgs, .dicas {
  padding: 60px 20px;
  max-width: 1100px;
  margin: 0 auto;
  
}

.saibam h2, .artgs h2, .dicas h2 {
  color: #2f6c37;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 25px;
  margin-left: 10px;
}

.artg, .areas, .dics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch; 
}

.art, .area, .dic {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  transition: transform 0.3s ease;
}

.area h3, .art h3, .dic h3 {
  margin-top: 0px;
  color: #3a7d44;
}

.area:hover,
.art:hover,
.dic:hover {
  transform: translateY(-5px);
}

footer {
  background: #e6f2e9;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
  color: #3a7d44;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgb(0 0 0 / 0.05);
}
.descrição{
  padding: 60px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.descrição h3{
  color: #2f6c37;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 25px;
}

.descrição p{
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
}

.sobre {
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  background: #e6f2e9; 
  background-size: cover;
  background-position: center;
}

.sobre h3{
  color: #2f6c37;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 25px;
}

.sobre p{
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

.conteudo-artigo {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
  line-height: 1.7;
}

.conteudo-artigo h1 {
  color: #2f6c37;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.conteudo-artigo p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 16px;
}

.voltar {
  display: block;
  text-align: center;
  margin: 40px 0;
}

.voltar a {
  background: #1a4e22;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.voltar a:hover {
  background: #43914d;
}




